; To use the settings, remove semi-colon from the line and put proper values

[MongoDBServer]
MONGODB_SERVER=127.0.0.1
MONGODB_PORT=27017
MONGODB_DB=bioschemas_db
MONGODB_COLLECTION=collection

[Logging]
;LOG_LEVEL='INFO'
;Available Levels -  'CRITICAL' > 'ERROR' > 'WARNING' > 'INFO' > 'DEBUG'

[SolrServer]
SOLR_SERVER=127.0.0.1
SOLR_PORT=8983
SOLR_CORE=buzzbang